@asideW: 210px;
@bg: #f9fafe;
@lineColor: #d1f1fd;
@primary: #65b2ff;
@color: #727272;

:root {
    --azure: #FBFDFD;
    --pattens-blue: #D1F1FD;
    --pattens-blue: #C9DEEF;
    --light-blue: #A8DBEE;
    --link-water: #CDD1D4;
    --cornflower-blue: #669EE0;
}
