body, ul, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
em, i {
    font-style: normal;
}
h1, h2, h3 {
    font-weight: normal;
}
img {
    border: none;
    vertical-align: top;
}
ul {
    list-style: none;
}
.clear {
    zoom: 1;
}
.clear:after {
    content: '';
    display: block;
    clear: both;
}
html, body {
    width: 100%;
    height: 100%;
    overflow: auto;
}
body {
    font-family: Arial, 'Microsoft YaHei';
}